.social a {
  color: var(--darkest_gray);
  margin-right: 22px;
  font-size: 2em;
}

.social a:last-child {
  margin-right: 0;
}

.social a:hover {
  color: var(--darkest_gray);
}

.btn-show-cast {
  background-color: transparent;
  border: none;
  color: var(--dark_gray);
  font-size: 16px !important;
}

.btn-show-cast:hover {
  opacity: 0.6;
}
