@font-face {
  font-family: "OldSansBlack";
  src: url("../assets/fonts/OldSansBlack.ttf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../assets/fonts/Gotham-Medium.otf");
}

/* Colors */
:root {
  --brand_blue: #032541;
  --brand_green: #13ce66;
  --brand_pink: #fe8bc4;
  --brand_red: #ff0000;
  --brand_yellow: #ffcb2c;

  --darkest_gray: #333333;
  --darker_gray: #666666;
  --dark_gray: #999999;
  --brand_gray: #c2c2c2;
  --light_gray: #dddddd;
  --lighter_gray: #eeeeee;
  --lightest_gray: #f5f6f9;

  --dark_bt: #343a40;

  --light_green: rgba(30, 213, 169);
  --light_blue: rgba(1, 180, 228);
}

body {
  background-color: #f4f4f4;
}

.container-fluid {
  max-width: 1144px;
}

*,
*:focus,
*:hover {
  outline: none !important;
  font-family: "Gotham-Medium";
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.card-body {
  padding: 10px 10px;
}

.card a:hover {
  text-decoration: none;
}

.card-title {
  color: var(--darkest_gray);
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 16px;
}

.card-title:hover {
  color: var(--light_blue);
}

.card-text {
  color: var(--dark_gray);
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .card-title {
    font-size: 14px;
  }
  .card-text {
    font-size: 12px;
  }
}

.limit-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.underline {
  text-decoration: underline;
}

.container-rating {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  font-weight: bold;
}

.container-empty {
  width: 100%;
  text-align: center;
  height: 70vh;
  padding: 0 10px;
}
