.container-type {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .container-type p,
  .container-type a {
    font-size: 18px;
  }
}

.discover-text,
.movie-text,
.discover-text,
.serie-text,
.person-text {
  margin-right: 10px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}

.movie-text {
  color: var(--light_blue);
  cursor: pointer;
  font-family: "OldSansBlack";
}

.movie-text:hover {
  color: var(--light_blue);
  font-family: "OldSansBlack";
}

.serie-text {
  color: var(--light_green);
  cursor: pointer;
  font-family: "OldSansBlack";
}

.serie-text:hover {
  color: var(--light_green);
  font-family: "OldSansBlack";
}

.person-text {
  color: var(--brand_yellow);
  font-family: "OldSansBlack";
  cursor: pointer;
}

.person-text:hover {
  color: var(--brand_yellow);
  font-family: "OldSansBlack";
}
