footer {
  background-color: var(--dark_bt);
  padding: 10px;
  color: white;
  margin-top: 20px;
}

footer p {
  margin-bottom: 0;
  text-align: center;
}

footer a {
  color: white;
  font-weight: bold;
}

footer a:hover {
  color: white;
  text-decoration: none;
}
