.image-bg-top p {
  margin-bottom: 0 !important;
}

.details-left {
}

.details-right {
  color: white;
}

.details-title {
  font-weight: bold;
}

.details-title span {
  font-weight: normal;
}

.details-date {
  font-size: 18px;
}

.details-runtime {
  font-size: 18px;
}

.container-gender p {
  font-size: 18px;
}

@media screen and (min-width: 500px) {
  .container-gender::before {
    content: "";
    display: block;
    margin: 0 10px;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 999px;
  }

  .container-gender::after {
    content: "";
    display: block;
    margin: 0 10px;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 999px;
  }
}

.btn-trailer {
  background-color: Transparent;
  border: none;
  color: white;
}

.panel {
  /* border: 1px solid red; */
}

.info {
  /* border: 1px solid red; */
}

.info-item {
  margin-top: 20px;
}

.info-item h3 {
  font-size: 22px;
  color: black;
  font-weight: bold;
}

.info-item p {
  font-size: 18px;
}

.keyword-tag {
  background-color: var(--light_gray);
  color: var(--darker_gray);
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 10px;
}

.details-about {
  margin: 24px auto 0;
}

.btn-show-cast {
  background-color: transparent;
  border: none;
  color: var(--dark_gray);
}

.btn-show-cast:hover {
  opacity: 0.6;
}
